SPIDER_BASE_URL=https://www.jd.com
COOKIE_VERIFY_URL=https://www.jd.com
#LOGIN_URL=https://login.taobao.com/havanaone/login/login.htm
LOGIN_URL=https://passport.jd.com/new/login.aspx
LOGIN_INVALID_MARKERS=请登录,登录
SPIDER_LIMIT=100
SQLITE_PATH=data/spider.db
COOKIE=
