SPIDER_BASE_URL=https://www.tmall.com
COOKIE_VERIFY_URL=https://www.tmall.com
LOGIN_URL=https://login.taobao.com/havanaone/login/login.htm
LOGIN_INVALID_MARKERS=请登录,登录
SPIDER_LIMIT=10
SQLITE_PATH=data/spider.db
COOKIE=
